/* custom css style */

/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$code-block-bg: WhiteSmoke;
$font-family-sans-serif: 'Nunito', 'Source Sans Pro', 'Helvetica', 'sans-serif';
$font-family-monospace: 'JetBrains Mono', 'Ubuntu Mono', 'Lucida Console', 'Courier', 'monospace';
$font-size-root: 18px;
$code-font-size: 14px;
/* major second scale */
$h1-font-size: 1.802rem;
$h2-font-size: 1.602rem;
$h3-font-size: 1.424rem;
$h4-font-size: 1.266rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$code-block-border-color: none;
$code-block-font-size: 0.95rem;
$code-bg: $code-block-bg;
/* inline code */
/*$code-color: ; */

/*-- scss:rules --*/

/* major third scale */
.largest {
    font-size: 1.953em;
}

.larger {
    font-size: 1.563em;
}

.large {
    font-size: 1.25em;
}

.small {
    font-size: 0.8em;
}

.smaller {
    font-size: 0.64em;
}

.smallest {
    font-size: 0.512em;
}

.highlight {
    background-color: $secondary;
    color: white;
    font-size: 0.85em;
    padding: 0.2em 0.3em;
    border-radius: 4px;
    vertical-align: baseline;
}

.references {
    font-size: 0.8em;
}

.citation {
    font-size: 0.8em;
    color: gray;
}