# Build and deploy Jekyll site to GitHub Pages

name: deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - run: |
          quarto --version
      - name: Render and publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: true
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
